__includes/

resources/cache/database/*
!resources/cache/database/.gitkeep

resources/cache/file_session/*
!resources/cache/file_session/.gitkeep

resources/cache/views/*
!resources/cache/views/.gitkeep

resources/cache/cookies.txt